.pole{
    width: 500px;
    height: 500px;
    
    background-color: rgb(247, 228, 167);
    
    border-style: solid;        
    border-color: aqua;

    


    position: absolute;
    color: red;

    z-index: 10;
}
.red{
    background-color: red;
}